.place__button-like {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 30px 20px 30px 30px;
  width: 22px;
  aspect-ratio: 22/19;
  background: url("/like.svg");
  grid-area: edit;
  align-self: center;
}

.place__button-like:hover {
  opacity: 0.5;
}
