.header__logo {
  background-image: url('../../../../public/logo_aspirity_svg.svg');
  background-repeat: no-repeat;
  background-position: center ;
  aspect-ratio: 171/34;
  display: block;
  margin: 0;
  max-width: 171px;
  width: 100%;
  padding: 20px 0;
}

@media screen and (max-width: 1280px) {
  .header__logo {
    padding: 18px 0;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    padding: 16px 0;
  }
}
