.place__button-delete-place {
  width: 18px;
  height: 19px;
  background: url("../../../../public/trash.svg") no-repeat;
  border: none;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.6;
}

.place__button-delete-place:hover {
  opacity: 1;
}
