.selectors {
  padding: 0;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 600px) {
  .selectors {
    padding-top: 10px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}